<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eecs581_582.cortez">

    <!-- System permissions required for Cortez to work -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
            Requests address-level location access, which is usually
            necessary for Geofencing
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- All Activity Views for the app must be defined here -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.MainActivity">

        <!-- The Launcher (splash screen) Activity -->
        <activity
            android:name=".frontend.LauncherActivity"
            android:label="@string/title_activity_launcher">

            <!-- This view is displayed at launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The Map Select Activity -->
        <activity
            android:name=".frontend.MapSelectActivity"
            android:label="@string/title_activity_map_select" />

        <!-- The Map Activity view -->
        <activity
            android:name=".frontend.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"></activity>

        <!-- The Info Activity view -->
        <activity
            android:name=".frontend.InfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_info" />

        <!-- The Image Viewer Activity -->
        <activity
            android:name=".frontend.ImageViewer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_imageviewer" />

        <!-- The Audio Player Activity -->
        <activity
            android:name=".frontend.AudioPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_audioplayer" />

        <!-- The Video Viewer Activity -->
        <activity
            android:name=".frontend.VideoViewer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_videoviewer"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- The Youtube Viewer Activity -->
        <activity
            android:name=".frontend.YouTubeViewer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_youtubeviewer"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- The Help screen Activity -->
        <activity
            android:name=".frontend.HelpActivity"
            android:label="@string/title_activity_help" />

        <!-- The Media Select Activity -->
        <activity
            android:name=".frontend.MediaSelectActivity"
            android:label="@string/title_activity_media_select"></activity>

        <!-- The service we're using for monitoring Geofences -->
        <service android:name=".backend.GeofenceIntentService" />

        <!-- The API key for Google Maps-based APIs is defined as a string resource. -->
        <!-- (See the file "res/values/google_api_key.xml"). -->
        <!-- Note that the API key is linked to the encryption key used to sign the APK. -->
        <!-- You need a different API key for each encryption key, including the release key that is used to -->
        <!-- sign the APK for publishing. -->
        <!-- You can define the keys for the debug and release targets in src/debug/ and src/release/. -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- The Google Maps Services version (Google Play Services version) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>